* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #fff;
}
html {
	scrollbar-color: #00DDFF #0A0E27;
	scrollbar-width: thin;
}
body {
	font-family: sans-serif;
	background-color: #0A0E27;
	padding: 0 2.5rem;
}
nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 6rem;
	border-bottom: 1px solid #1A1F3A;
	margin-bottom: 3.5rem;
}
.logo-section {
	display: flex;
	align-items: center;
	gap: 1rem;
	h1:hover {
		color: #00DDFF;
	}
}
.logo {
	width: 3rem;
}
.logo img {
	width: 100%;
}

.data {
	display: flex;
	gap: 1rem;
	div {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 0.7rem;
		p {
			font-size: 0.7rem;
			color: #6C7293;
		}
		h2 {
			color: #00DDFF;
		}
	}
}
.account {
	display: flex;
	align-items: center;
	gap: 1rem;
}
.profile {
	width: 40px;
	height: 40px;
	background-color: #6C7293;
	border-radius: 50%;
}
.card {
	position: relative;
	width: 20rem;
	height: 25rem;
	padding: 1.7rem;
	background-color: #11152B;
	border: 1px solid #1A1F3A;
	border-radius: 0.5rem;
	overflow: hidden;
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 0.2rem;
		background: linear-gradient(90deg, transparent 0%, #00DDFF 50%, transparent 100%);
	}
	.top {
		background-color: #11152B;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		button {
			padding: 0.4rem 0.8rem;
			background: transparent;
			border: 1px solid #1A1F3A;
			border-radius: 0.5rem;
			color: #6C7293;
			font-family: monospace;
			cursor: pointer;
			transition: all .2s ease;
			&:hover {
				border: 1px solid #00DDFF;
				color: #00DDFF;
			}
		}
	}
}
.card-title {
	color: #6C7293;
	font-size: 1rem;
}

main {
	display: flex;
	gap: 2rem;
	margin-bottom: 1.5rem;
	height: 40rem;
}

.goals {
	width: 70%;
	height: 100%;
	overflow-y: scroll;
	scrollbar-color: #00DDFF #11152B;
	scrollbar-width: thin;
}
.goal {
	width: 100%;
	height: 9.5rem;
	padding: 1rem;
	background-color: #151A32;
	border: 1px solid #1A1F3A;
	border-radius: 0.5rem;
	margin-top: 1.5rem;
	transition: all .3s ease-in-out;
	.goal-title {
		font-size: 1.2rem;
	}
	&:hover {
		border: 1px solid #00DDFF;
		transform: translate(5px, 0);
	}
}

.goal-info {
	display: flex;
	align-items: center;
	height: 5.5rem;
	div {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: start;
		gap: 0.5rem;
		flex: 1;
		height: 5rem;
		p {
			font-size: 0.65rem;
			color: #6C7293;
		}
		h3 {
			font-size: 1.2rem;
			color: #00DDFF;
		}
	}
}

.progress-bar {
	width: 100%;
	height: 0.45rem;
	background-color: #1A1F3A;
	border-radius: 1rem;
	overflow: hidden;
	.progress {
		background-color: #00DDFF;
		height: 100%;
		border-radius: 1rem;
		box-shadow: 0 0 5px 1px #00DDFF;
	}
}

.add {
	display: block;
	padding: 1rem 2rem;
	margin: 2rem auto 0 auto;
	cursor: pointer;
	background-color: #00DDFF;
	color: #0A0E27;
	font-weight: bold;
	font-size: 1rem;
	border: none;
	border-radius: 1rem;
	transition: all .5 ease;
	&:hover {
		transform: scale(1.05);
	}
}


.popup-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100dvw;
	height: 100dvh;
	background: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(2px);
}
.goal-popup {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1rem;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 30rem;
	height: 20rem;
	background-color: #151A32;
	border: 1px solid #1A1F3A;
	box-shadow: 0 0 50px 1px hsl(188, 100%, 20%);
	border-radius: 1rem;
}
.goal-popup::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 0.2rem;
	background: linear-gradient(90deg, transparent 0%, #00DDFF 50%, transparent 100%);
}
.goal-popup h1 {
	color: #6C7293;
	font-family: monospace;
	font-size: 1.5rem;
}
.goal-popup input {
	background: transparent;
	border: 1px solid #00DDFF;
	border-radius: 5px;
	padding: 0.5rem;
}
.goal-popup .field {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	width: 100%;
	margin-top: 1rem;
	margin-bottom: 0.5rem;
	margin-right: auto;
}
.goal-popup .deadline {
	justify-content: center;
	gap: 1rem;
}

.goal-popup .cancel {
	position: absolute;
	top: 10px;
	left: 90%;
	width: 30px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	background: transparent;
	border-radius: 50%;
	border: 1px solid #00DDFF;
	color: #00DDFF;
	font-weight: 900;
	transition: all .3s ease;
}
.goal-popup .cancel:hover {
	background: #00DDFF;
	color: #080E27;
}
.goal-popup .submit {
	cursor: pointer;
	margin-top: 1rem;
	padding: 0.5rem 1rem;
	background: transparent;
	border: 1px solid #00DDFF;
	border-radius: 5px;
	font-weight: bold;
	transition: all .3s ease;
}
.goal-popup .submit:hover {
	background: #00DDFF;
	color: #080E27;
}

.metrics {
	font-family: monospace;
	width: 35%;
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
.mobile {
	display: none;
}

.metric-card {
	display: flex;
	justify-content: space-between;
	background-color: #151A32;
	height: 7rem;
	padding: 1rem;
	border-left: 3px solid #00DDFF;
	border-radius: 5px;
	.info {
		display: flex;
		flex-direction: column;
		gap: 0.6rem;
		h3 {
			color: #00DDFF;
			font-size: 1.3rem;
		}
		div {
			background-color: #1A1F3A;
			height: 0.3rem;
			width: 100%;
			border-radius: 10px;
			overflow: hidden;
			.level {
				height: 100%;
				width: 50%;
				background-color: #00DDFF;
				box-shadow: 0 0 5px 1px #00DDFF;
			}
		}
	}
}

.priority {
	width: 100%;
	padding: 2.5rem;
	margin-bottom: 5rem;
	overflow-y: scroll;
	scrollbar-color: #00DDFF #11152B;
	scrollbar-width: thin;
}
.priorities {
	margin-top: 1rem;
	margin-bottom: 1rem;
	.slot {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		height: 3.2rem;
		border-bottom: 1px solid #1A1F3A;
		.tag {
			padding: 0.5rem;
			font-size: 1rem;
			font-family: monospace;
			background: #271D31;
			color: #D67168;
			border: 1px solid #D67168;
			border-radius: 5px;
		}
		.name {
			transition: all .3s ease;
			&:hover {
				color: #00DDFF;
				transform: translate(10px);
			}
		}
	}
}

a {
	text-decoration: none;
}

/*Details Page*/
.details {
	height: fit-content;
	width: 100%;
}
.details .title {
	color: #6C7293;
	text-align: center;
	margin-bottom: 2rem;
	flex: 1;
}

.date {
	width: 100%;
	text-align: center;
	color: #00DDFF;
	margin-top: -2rem;
	margin-bottom: 2rem;
}

.goal-details {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	gap: 1.5rem;
	width: 100%;
	margin-top: 1rem;
}

.goal-details p {
	color: #00DDFF;
	font-size: 1rem;
	font-weight: bold;
}

.delete {
	height: fit-content;
	background: transparent;
	border: none;
	cursor: pointer;
}

.top-details {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.tasks {
	background-color: #151A32;
	width: 100%;
	height: fit-content;
	margin-top: 2rem;
	&::before {
		display: none;
	}
}

.task-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 2rem;
	font-size: 1rem;
	border-bottom: 1px solid #1A1F3A;
	.checkbox-container {
		display: flex;
		align-items: center;
		gap: 8px;
		cursor: pointer;
		input {
			display: none;
		}
		.checkmark {
			width: 18px;
			height: 18px;
			border: 2px solid #00DDFF;
			border-radius: 5px;
			display: inline-block;
			position: relative;
		}
		input:checked + .checkmark{
			background: linear-gradient(135deg, #00DDFF, #0077ff);
			border: linear-gradient(135deg, #00DDFF, #0077ff);
		}
		input:checked + .checkmark::after{
			content: "✔";
			color: #0f172a;
			font-size: 16px;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
		input:checked ~ p {
			text-decoration: line-through;
			opacity: 50%;
		}
	}
	.xp {
		padding: 0.2rem;
		font-size: 0.9rem;
		font-family: monospace;
		background: #271D31;
		color: #D67168;
		border: 1px solid #D67168;
		border-radius: 0.7rem;
	}
}

.task-input {
	height: 2rem;
	border-bottom: 1px solid #1A1F3A;
}
.task-input input {
	height: 100%;
	width: 100%;
	background: transparent;
	font-size: 1.1rem;
	border: none;
}

@media screen and (max-width: 750px) {
	body {
		padding: 0 1rem;
	}
	.logo-section h1 {
		display: none;
	}
	.data {
		gap: 0.2rem;
	}
	.metrics {
		display: none;
	}
	.goals {
		width: 100%;
	}
	.mobile {
		display: block;
		width: 100%;
		margin-bottom: 2rem;
	}
	.account h3 {
		display: none;
	}
	.goal-popup {
		width: 90dvw;
	}
}